### Java template
*.class
.idea
.gitignore

# Package Files #
*.jar
*.war
*.ear
/gamification.iws
/gamification.ipr
/gamification.iml
*.log
/out
!/gradle/wrapper/gradle-wrapper.jar
.gradle/
build/
/logs/
