<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds" >
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive"/>

    <timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>%d %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} --- [%15.15thread] %clr(%-40.40logger{39}){cyan} : %m%n}</pattern>
        </layout>
    </appender>
    <appender name="RollingFile-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/logfile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/logfile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d  ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%15.15thread] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <logger name="juja.microservices.gamification" level="DEBUG" additivity="false">
        <appender-ref ref="Console-Appender"/>
        <appender-ref ref="RollingFile-Appender"/>
    </logger>

    <root level="INFO" additivity="false">
        <appender-ref ref="Console-Appender"/>
    </root>
</configuration>