<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds" >
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="LOG_PATH" value="logs"/>
    <property name="LOG_ARCHIVE" value="${LOG_PATH}/archive"/>

    <timestamp key="timestamp-by-second" datePattern="yyyyMMdd'T'HHmmss"/>

    <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <pattern>%d  %clr(%-5level) %magenta(%relative) --- [%15thread] %cyan(%logger{15}) : %message%n</pattern>
        </layout>
    </appender>
    <appender name="RollingFile-Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/logfile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_ARCHIVE}/logfile.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100KB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d  %-5level %logger{15} [%15thread] - %message%n</pattern>
        </encoder>
    </appender>

    <logger name="juja.microservices.gamification.service" level="INFO" additivity="false">
        <appender-ref ref="Console-Appender"/>
        <appender-ref ref="RollingFile-Appender"/>
    </logger>
    <logger name="juja.microservices.gamification.controller" level="INFO" additivity="false">
        <appender-ref ref="Console-Appender"/>
        <appender-ref ref="RollingFile-Appender"/>
    </logger>
    <root level="INFO" additivity="false">
        <appender-ref ref="Console-Appender"/>
    </root>
</configuration>